<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-[url('/Images/background.jpeg')] bg-center bg-green-500 bg-blend-multiply bg-cover bg-no-repeat bg-fixed">
  <nav class="bg-transparent flex justify-between border border-amber-600 mr-4 ml-4 mt-3 rounded-3xl px-4"> 
    <div class="flex flex-shrink-0 items-center flex-nowrap">
      <img src="/favicon.ico" class="block  h-14 w-auto" alt="logo">
      <a href="#" class="text-amber-700 text-4xl  font-extrabold ">Af</a>
      <a href="#" class="text-gray-100 text-4xl  font-extrabold ">ro </a>
      <a class="text-amber-700 text-4xl  font-extrabold">Wi</a>
      <a class="text-gray-100 text-4xl  font-extrabold">se</a>
    </div>
    <div class="flex ">
        <a href="/course/create" class="p-3 m-1 self-center rounded-2xl text-white bg-slate-900">Create Course</a>
        <a href="" class="p-3 self-center rounded-2xl bg-slate-900 text-white"> About us</a>
    </div>
  </nav>



<footer class="absolute bottom-0 left-0" >  
    <img class="block h-10 w-10" src="/Images/telegram.png" alt="telegram">
    <img class="block h-10 w-10" src="/Images/gmail.png" alt="gmail">
    <img class="block h-10 w-10" src="/Images/facebook.png" alt="facebook">
    <img class="block h-10 w-10" src="/Images/instagram.png" alt="instagram">
    <img class="block h-10 w-10" src="/Images/tik-tok.png" alt="tik-tok">
    <img class="block h-10 w-10" src="/Images/linkedin.png" alt="linkedin">
    <img class="block h-10 w-10" src="/Images/youtube.png" alt="youtube">

</footer>
</body>
</html>
