<%- include('../partials/header') %>

    <section>
        <div class="py-8 lg:py-16 px-4 mx-auto w-1/3 justify-center bg-amber-800 bg-opacity-40  mt-9 rounded-2xl">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-50">
                Login
            </h2>
            <form action="" method="post" id="formLogin" class="space-y-8 ">
                <% if(err) { %>
                  <p class=" text-lg text-rose-300 font-sans font-bold tracking-tighter"> one or more incorrect field please try again. </p>
                <% } %>
                <div class="bg-opacity-95" >
                    <label for="email" class="block  mb-2 text-sm font-bold text-violet-300">UserName or Email</label>
                    <input type="text" id="email" name="email" placeholder="example@example.com" class="bg-gray-50 border-gray-400  text-gray-900 text-sm rounded-lg focus:ring-amber-600  focus:border-amber-600 block w-full p-2.5  " >
                </div>
                <div class="bg-opacity-95" >
                    <label for="password" class="block  mb-2 text-sm font-bold text-violet-300">Password</label>
                    <input type="password" id="password" name="password" class="bg-gray-50 border-gray-400  text-gray-900 text-sm rounded-lg focus:ring-amber-600  focus:border-amber-600 block w-full p-2.5  " >
                </div>
                <button type="submit" class="bg-yellow-900 px-10 py-3 ml-32 mr-auto text-3xl font-serif font-bold text-slate-400 rounded-lg" >Login</button>
            </form>

        </div>

    </section>


    <%- include('../partials/footer') %>