<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afro Wise-Payment</title>

    <link rel="stylesheet" href="/css/payment.css">
</head>

<body background="/Images/background2.jpeg">

    <h1 class="name">AFRO WISE</h1>

        <div>
            <button class="box">
                <div class="rectangle">
                    <img class="logoimg" src="/Images/logo.png" alt="This is the logo of Afro Wise.">
                </div>

                <div> 
                    <button class="categories">
                        <h2>Categories</h2>
                        <img class="drop-downimg" src="/Images/dropdown.png" alt="This is a drop down image.">
                    </button>
                </div>

                <div>
                        <h1 class="title">Afro Wise</h1>
                </div>

                <div>
                    <button type="button" class="search-bar">
                        <img class="searchimg" src="/Images/search.png" alt="This is a search icon.">
                        <h2 class="library">Search anything you want</h2>
                    </button>
                </div>

                    <img class="langimg" src="/Images/language.png" alt="Here you can change language.">

                    <img class="droplangimg" src="/Images/dropdown.png" alt="Drop down icon to select language.">
            </button>
        </div>

        <h2 class="instruction-one">After selecting the courses that you will take, you must remit
        <br>
        your payment. The payment is done via Awash Bank.</h2>

        <h3 class="instruction-two">Do  not  forget  to  send  the  picture  of  the  bank  slip  or
            <br>
            screenshot if  you  are  using  mobile  banking  so  that 
            <br>
            we  can  confirm  your  registration.</h3>

    <nav class="account">
        <h3 class="account-name">
            Account name : Afro Wise
            <br><br>
            Account No. : 0000 1111 2222 3333
        </h3>
    </nav>

    <nav class="bank-upload">
        <img class="upload-img" src="/Images/upload.png" alt="This is an image to upload the bank slip.">
        <button class="upload">
            Upload your bank slip here.
        </button>
    </nav>

    <img class="mobile-banking" src="/Images/mobile banking.jpeg" alt="This is an image for a person using mobile banking.">

    <nav class="bottom-page">
            
        <hr class="bottom-horizontal-line">
        <div class="bottom-vertical-line"></div>

        <div class="rectangle-three">
            <img class="model-intro" src="/Images/meski.jpeg" alt="This is the picture of our female model.">
        </div>
        
            <li class="faq">FAQ</li>
            <li><a class="why-afro-wise" href="">Why Afro Wise</a></li>
            <li><a class="search-for-a-job" href="">Search for a job</a></li>
            <li><a class="earn-through" href="">Earn through Afro Wise</a></li>
            <li><a class="join-as-teacher" href="">Join as a Teacher</a></li>
            <li><a class="partners" href="">Partners</a></li>
            <li><a class="developers-community" href="">Developers Community</a></li>
            <li><a class="report-problem" href="">Report a problem</a></li>
            <li><a class="terms-and-conditions" href="">Terms and Conditions</a></li>
        
        <h1 class="slogan-three">
           <br> Unlock your potential with us!
        </h1>

        <p class="info2">At Afro Wise, We prioritize creating an environment 
            <br>
            where every learner can thrive, regardless of 
            <br>
            their background or circumstances. 
            <br><br><br>
            Our team of expert instructors offers a diverse range of 
            <br> 
            courses that are designed to meet the needs of today's learners.
        </p>
        
        <ul>
            <li><a href=""><img class="telegram-img" src="/Images/telegram.png" alt="This is our telegram address."></a></li>
            <li><a href=""><img class="email-img" src="/Images/gmail.png" alt="This is our email address."></a></li>
            <li><a href=""><img class="facebook-img" src="/Images/facebook.png" alt="This is our facebook address."></a></li>
            <li><a href=""><img class="instagram-img" src="/Images/instagram.png" alt="This is our instagram address."></a></li>
            <li><a href=""><img class="tiktok-img" src="/Images/tik-tok.png" alt="This is our tiktok address."></a></li>
            <li><a href=""><img class="linkedin-img" src="/Images/linkedin.png" alt="This is our linkedin address."></a></li>
            <li><a href=""><img class="youtube-img" src="/Images/youtube.png" alt="This is our YouTube address."></a></li>
        </ul>  
        <div class="rectangle-two">
            <img class="logoimg-two" src="/Images/logo.png" alt="This is the logo of Afro Wise.">
        </div>
    
    </nav>

</body>

</html>