
<footer class="absolute bottom-0 left-0" >
    
        <img class="block h-10 w-10" src="/Images/telegram.png" alt="telegram">
        <img class="block h-10 w-10" src="/Images/gmail.png" alt="gmail">
        <img class="block h-10 w-10" src="/Images/facebook.png" alt="facebook">
        <img class="block h-10 w-10" src="/Images/instagram.png" alt="instagram">
        <img class="block h-10 w-10" src="/Images/tik-tok.png" alt="tik-tok">
        <img class="block h-10 w-10" src="/Images/linkedin.png" alt="linkedin">
        <img class="block h-10 w-10" src="/Images/youtube.png" alt="youtube">

</footer>
</body>
</html>
